{
  "importOrder": [
    "^.+\\.(css|scss|sass|less|styl|svg|png|jpg|jpeg|gif|webp)$",
    "<THIRD_PARTY_TS_TYPES>",
    "<TS_TYPES>^[./]",
    "<THIRD_PARTY_MODULES>",
    "^~/lib/(.*)$",
    "^~/components/ui/(.*)$",
    "^~/(.*)$",
    "^[./]"
  ],
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
